data/clean/*
!data/clean/_placeholder*
data/raw/*
!data/raw/_placeholder
data/coverage/*
!data/coverage/placeholder
data/covid19*

output/*.RDS
results/*.RDS
results/*.pdf

/data/canada_variants.csv
/data/lineage_list.csv

report/*
!report/*tex
!report/*bib
