data/clean/*
!data/clean/_placeholder*
data/raw/*
!data/raw/_placeholder
data/coverage/*
!data/coverage/placeholder

output/*.RDS
results/*.RDS
results/*.pdf

/data/canada_variants.csv
/data/lineage_list.csv
